body {
    background-color: rgb(10,10,10);
    padding-top: 70px;
}

body,
.thumbnail.person .caption {
    color: rgb(250, 250, 250);
}

.container,
.container-fluid {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.row {
    margin-bottom: 35px;
}

.navbar-inverse .navbar-toggle {
    border-color: white;
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #555;
}

img.project {
    width: 100%;
}

.project.row {
    padding-bottom: 1em;
}

a {
    color: inherit;
    text-decoration: underline;
}
.navbar a {
    text-decoration: none;
}
a:hover {
    color: white;
}

.represent-defn {
    font-weight: 100;
    font-size: 18px;
    letter-spacing: .05em;
}

h1.represent {
    margin-top: 20px;
    font-size: 70px;
    margin-bottom: 15px;
    font-weight: 100;
    letter-spacing: .1em;
}

.represent-defn p.grammar {
    font-size: 1em;
    margin-bottom: 35px;
    font-size:15px;
}

.represent-defn ol {
    list-style-type: decimal;
}

.thumbnail {
    min-height: 162px; /* TODO make this less hacky */
    border-width: 0;
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    margin: 20px;
}

.thumbnail>img,
.thumbnail a>img,
img.project {
    border-width: 1px;
    border-color: rgb(150,150,150);
    border-style: solid;
}

img.project {
    margin-top: 25px;
}

.thumbnail.person .caption {
    text-align: center;
}

.navbar-fixed-top {
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
}
