<html lang="en">
    <head>
        <title>Represent</title>

        {% block css %}
          <!-- Use this when you are hosting for real
            <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
          -->
          <!-- Use this when you are testing offline -->
            <link rel="stylesheet" href="/static/css/bootstrap.min.css">
          <!-- Always use this -->
            <link rel="stylesheet" href="/static/css/represent.css">
        {% endblock css %}
    </head>
    <body>

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">represent</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                      {% for page in pages %}
                        <li class="{% if page.name == active_page %} active {%endif%}">
                        <a href="/{{ page.path }}">{{ page.name }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <div class="jumbotron represent-defn">
            <div class="container">
                <h1>represent</h1>
                <p class="grammar">
                    <!-- TODO actual dot html character -->
                    [&nbsp;re-pre &dot; sent&nbsp;] verb (&nbsp;used with object&nbsp;)
                </p>
                <ol>
                    <li>
                        <a href="http://awaaz.de">
                            be entitled or appointed to act or speak for someone,
                        </a>
                    </li>
                    <li>
                        <a href="http://captricity.com">
                            constitute; amount to,
                        </a>
                    </li>
                    <li>
                        <a href="http://localground.org">
                            showing respect to where you come from,
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            be a good example to the others of your group.
                        </a>
                    </li>
                </ol>
            </div>
        </div>

        {% block body %}
        {% endblock body %}

        {% block js %}
          <!-- Use this when you are hosting for real
            <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script> 
            <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> 
          -->
          <!-- Use this when you are testing offline -->
            <script type="text/javascript" src="/static/js/jquery.min.js"></script>
            <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
        {% endblock js %}
    </body>
</html>
