<html lang="en">
    <head>
        <title>Represent</title>

        {% block css %}
            <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
            <link rel="stylesheet" href="/static/css/represent.css">
        {% endblock css %}
    </head>
    <body>
        {% block body %}
        {% endblock body %}

        {% block js %}
            <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script> 
            <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> 
        {% endblock js %}
    </body>
</html>
