{% extends "base.html" %}

{% block body %}

<div class="row">
  <div class="col-xs-12 represent-defn">
    <h1 class="represent">represent</h1>
    <p class="grammar">
    <!-- TODO actual dot html character -->
    [&nbsp;re-pre &dot; sent&nbsp;] verb (&nbsp;used with object&nbsp;)
    </p>
    <ol>
      <li>
      <a href="http://awaaz.de">
        be entitled or appointed to act or speak for someone,
      </a>
      </li>
      <li>
      <a href="http://captricity.com">
        constitute; amount to,
      </a>
      </li>
      <li>
      <a href="http://localground.org">
        showing respect to where you come from,
      </a>
      </li>
      <li>
      <a href="/">
        be a good example to the others of your group.
      </a>
      </li>
    </ol>
  </div>
</div>

{% include "people.html" %}

{% endblock body %}
