{% extends "base.html" %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>represent</h1>
        </div>
    </div>
    <div class="row">

        {% for p in people %}
            <div class="col-xs-4 col-md-3">
                <div class="thumbnail" alt="{{p.name}}">
                    <a href="{{p.url}}" class="thumbnail-inner">
                        <img class="person" src="{{p.img_src}}">

                        <div class="caption">
                            {{ p.name }}
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}

    </div>
</div>
{% endblock body %}
