{% macro people_tiles(peops) -%}
<div class="row">
  {% for p in peops %}
    {% if p.img_src is defined %}
      <div class="col-xs-4">
        <div class="thumbnail person" alt="{{p.name}}">
          {% if p.url is defined %}
            <a href="{{p.url}}" class="thumbnail-inner">
          {% endif %}
              <img src="{{p.img_src}}">
              <div class="caption">
                {{ p.name }}
              </div>
          {% if p.url is defined %}
            </a>
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
<div class="row">
  {% for p in peops %}
    {% if p.img_src is undefined %}
      <div class="col-xs-4">
        <div class="thumbnail person" alt="{{p.name}}">
          {% if p.url is defined %}
            <a href="{{p.url}}" class="thumbnail-inner">
          {% endif %}
              <div class="caption">
                {{ p.name }}
              </div>
          {% if p.url is defined %}
            </a>
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
{%- endmacro %}

{% macro projects_list(projs) -%}
  {% for p in projs %}
    <div class="row project">
      <div class="col-xs-12 col-sm-4">
        {% if p.img_src is defined %}
          <img class="project" src="{{p.img_src}}">
        {% endif %}
      </div>
      <div class="col-xs-12 col-sm-8">
        <h3>{{ p.name }}</h3>
        <p>{{ p.desc }}</p>
      </div>
    </div>
  {% endfor %}
{%- endmacro %}
